@import "elements.less";

/***********************************************************************************************************************
Commun
***********************************************************************************************************************/

@blue: #372f8c;
@orange: #f57f17;
.italic {
    font-style: italic;
}

.blue {
    color: @blue;
}

.white {
    color: white;
}

.white-section {
    background-color: white;
}

body {
    background: url('../img/bg.jpg') top center no-repeat @orange;
    background-attachment: fixed;
}

p {
    color: rgba(0, 0, 0, 1)
}

h1,
h2,
h3,
h4 {
    color: #ffffff;
}

.uk-h1, .uk-h2, .uk-h3, .uk-h4, .uk-h5, .uk-h6, h1, h2, h3, h4, h5, h6 {
    font-weight: 100;
}

.container-fluid {
    padding-right: 0;
    padding-left: 0;
}

.jumbotron {
    background: none;
}

.breadcrumb {
    background-color: @blue;
    padding-bottom: 90px;
    position: relative;
    z-index: 10;
    h1 {
        font-weight: 100;
    }
    &:after {
        content: '';
        width: 100%;
        background: url(../img/breadcrumb-icon.png) top center no-repeat;
        background-size: contain;
        height: 60px;
        position: absolute;
        z-index: 20;
        bottom: -30px;
    }
}

.content {
    padding-top: 75px;
    padding-bottom: 75px;
}

#up,
.up {
    background-color: #ffffff;
    .box-shadow(0px 0px 8px);
    h2 {
        color: @orange;
    }
    h3 {
        color: rgba(0, 0, 0, 0.8);
        font-weight: bold;
    }
}

.card {
    background-color: #ffffff;
    z-index: 0;
    .rounded(3px);
    padding: 30px;
}

.big-blue {
    background-color: @blue;
    position: relative;
    z-index: 10;
    h2 {
        font-weight: 100;
        font-size: 3rem;
    }
}

.btn-primary {
    color: #fff;
    background-color: @orange;
    border-color: @orange;
    .transition-duration(0.5s);
    &:hover {
        background-color: @blue;
        border-color: @blue;
    }
}

.uk-button-primary, .uk-icon-button {
    color: #fff;
    background-color: @orange;
    border-color: @orange;
    .transition-duration(0.5s);
    &:hover, &:focus {
        background-color: @blue;
        border-color: @blue;
        color:white;
    }
}

#wide {
    padding: 0;
}

a {
    color: @blue;

    &:hover {
        color: @blue;
    }
}

.uk-heading-divider {
    border-bottom: 2px solid #e5e5e5;

    &.blue {
        border-color: @orange;
    }

    &.white {
        border-color: white;
    }
}

.quote {
    border-left: 5px solid @orange;
    padding:0 25px;
    .quote-content {
        font-style: italic;
    }
}

/***********************************************************************************************************************
Header
***********************************************************************************************************************/

.top {
    background-color: black;
    padding:0 0;

    p {
        color: white;
        margin: 0.5rem 0;

        &:before,
        &:after {
            content: "[";
            color: white;
            margin: 0 4px;
        }

        &:after {
            content: "]";
        }
    }

    #p-phone {
        text-align: right;
    }

}

#logo {
    max-width: 200px;
}

#nav-container {
    margin-bottom: -1.4rem;
}

#nav {
    background-color: #ffffff;
    padding: 10px 0;
    z-index: 40;
    /*padding-top: 40px;*/
}

#web-nav {
        margin-bottom: 15px;
    margin-top: 40px;
}

#mobile-nav {
    background-color: @blue;
    .uk-navbar-toggle {
        height:35px;
        color:white;
    }
}

.uk-navbar-nav>li>a, .uk-nav-default>li>a {
    color:@blue;
    text-transform: capitalize;
    .transition-duration(0.5s);
    height:40px;
    font-size: 1rem;
    margin: 0 15px;
}

.uk-nav-default>li>a {
    color:white;
}

.uk-nav-default>li>a {
    height:25px;
}

.uk-navbar-nav>li.uk-active>a, .uk-nav-default>li.uk-active>a {
    /*background-color: @orange;*/
    border-bottom: 2px solid @orange;
    color: @orange;
    font-weight: 400;
}

.uk-navbar-nav>li>a:hover {
    color: @orange;
}

#arrow {
    background: url(../img/arrow.png) top center no-repeat;
    background-size: cover;
    height: 40px;
    z-index: 20;
    position: relative;
}

.uk-modal {
    z-index: 3000;
}

.uk-sticky-fixed {
    width:100% !important;
}

/***********************************************************************************************************************
Home
***********************************************************************************************************************/

#intro {
    background-color: @blue;
    padding: 0;
    margin: 0 0 -1px 0;
}

.team {
    padding-top: 140px;
}

.avatar, .icon-services {
    margin: auto;
    margin-bottom: -110px;
    z-index: 1;
    position: relative;
    border:5px solid @blue;
    width: 100%;
    max-width: 250px !important;
}

.team-title {
    position: relative;
    margin: auto;
    width:100%;
    max-width: 265px;

    &:before,
    &:after {
        content: "";
        width: 5px;
        height: 100%;
        border: 2px solid @orange;
        border-right: none;
        position: absolute;
        display: block;
        margin-left: -10px;
    }

    &:after {
        border: 2px solid @orange;
        border-left: none;
        top: 0;
        right: -10px;

    }
}

.list-group-item {
    background: none;
    border: none;
}

.partners {
    max-width: 300px;
    border: 5px solid @blue;
}

.skill {
    max-width: 225px;
}

.slider {
    position:relative;

    .uk-slidenav {
        z-index: 50;
    }
}

/***********************************************************************************************************************
Services
***********************************************************************************************************************/

.icon-services {
    border:none;
    max-width: 175px !important;
}

/***********************************************************************************************************************
Portfolio
***********************************************************************************************************************/

/* fluid 5 columns */
.grid-sizer,
.grid-item { width: 25%; }
/* 2 columns */
/*.grid-item--width2 { width: 40%; }*/

.uk-overlay-primary {
    background: @orange;
}


figure {
    background-color: #ffffff;
    z-index: 0;
    h3 {
        font-weight: 700;
        text-transform: none;
    }
    p {
        color: white;
    }
    .btn-primary {
        color: @blue;
        border-color: @blue;
    }
}

.uk-overlay-background {
    background: @orange;
}

.uk-overlay-icon:before {
    color: @orange;
}

/***********************************************************************************************************************
Contact
***********************************************************************************************************************/

.contact {
    padding: 10px;

    .name {
        padding-bottom: 0;
    }

    .list-group-item {
        padding-top: 0;
        font-size: 1.2rem;
    }
}

.g-recaptcha {
    margin: 10px 0 !important;
}

/***********************************************************************************************************************
Legal
***********************************************************************************************************************/

/***********************************************************************************************************************
Footer
***********************************************************************************************************************/

.footer {
    background-color: #282828;
    box-shadow: none;
    .inner-shadow(0 4px 8px 1);
    p,
    h3 {
        color: rgba(255, 255, 255, 0.6);
    }
    li {
        list-style: none;
        font-size: 20px;
        color: rgba(255, 255, 255, 0.6);
        a {
            color: rgba(255, 255, 255, 0.6);
            .transition-duration(0.5s);
            &:hover {
                color: @orange;
                text-decoration: none;
            }
        }
    }

    .nav-link {
        padding: 0 1rem 0 0;
        margin: 0 15px 0 0;
    }
}

.footer-bottom {
    background-color: #000000;
    padding-top: 10px;
        padding-bottom: 5px;
    p {
        color: rgba(255, 255, 255, 0.6);
        &:before {
            font-family: FontAwesome;
            content: '\f1f9';
            margin-right: 5px;
        }
    }
    .uk-container {
        padding-top: 10px;
        padding-bottom: 5px;
    }
}

.ontop {
    position: fixed;
    bottom: 10px;
    right: 10px;
    background-color: @blue;
    color: #ffffff;
}

/***********************************************************************************************************************
Media queries
***********************************************************************************************************************/

@media (min-width: 768px) {
    #nav-container {
        margin-bottom: -40px;
    }

    .mobile {
        display: none;
    }
}

@media (max-width: 768px) {
    body {
        background: none;
        background-color: @orange;
    }

    #top {
        #p-mail,
        #p-phone {
            text-align: center;
        }
    }

    #logo {
        max-width: 200px;
    }

    .abilities {
        max-width: 275px;
    }

    .nav .nav-link {
        margin: 0 5px;
    }

    .display-4 {
        font-size: 2.5rem;
        font-weight: 300;
        line-height: 1.1;
    }

    p {
        text-align: justify;
    }

    .web {
        display: none;
    }

    .grid-sizer,
    .grid-item { width: 50%; }
}

/***********************************************************************************************************************
Admin
***********************************************************************************************************************/

#left-nav {
    background-color: @blue;
    li a {
    /*background-color: @darken_3;*/
    color: white;
    .transition-duration(0.5s);
    margin-bottom: 5px;
        &:hover {
            color:@orange;
            /*background-color: @darken_1;*/
        }
    }
}

#login {
    height:100vh;
}
